---
---

@import "variables";

html {
  font-family: $fonts;
  font-size: calc(#{$font-size-default} + 0.5vw);
  line-height: $line-height-default;
  overflow-wrap: break-word;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;

  background: $col-background;
  color: $col-text;
}

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  background: $col-border;
}

.header-container {
  max-width: 36rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.header-logo {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;

  &:hover {
    text-decoration: underline;
  }

  &:link, &:visited, &:hover, &:active, &:focus {
    color: $col-text;
  }
}


.header-nav {
  margin: .5rem 0 0;

  a {
    margin: 0 .5rem 0 0;
  }

  @media (min-width: 600px) {
    margin: 0;
    float: right;

    a {
      margin: 0 0 0 1rem;
      text-align: right;
    }
  }
}

main {
  display: block;
  max-width: 36rem;
  margin: 0 auto;
  padding: 2rem;
}

* + * {
  margin-top: $line-height-default;
}

p + p {
  margin-top: calc($line-height-default / 2);
}

li + li {
  margin-top: calc($line-height-default / 4);
}
.post + .post {
  padding-top: $line-height-default;
  border-top: 1px solid $col-border;
}

.read-more, .date {
  text-transform: uppercase;
  font-size: 0.6rem;
}


:focus {
  outline: .125rem solid $col-hover;
  outline-offset: .125rem;
}

a {
  color: $col-link;

  &:link, &:visited {
    color: $col-link;
  }

  &:hover, &:active, &:focus {
    color: $col-hover;
  }
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 1.1;
  margin-bottom:0;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

h3 + p {
  margin-top: calc($line-height-default / 2);
}

blockquote {
  padding: 0.25rem 1rem;
  margin-left: 0;
  margin-right: 0;
  background: lighten($col-border, 5%);
  border-left: 1rem solid $col-border;
}

.visually-hidden {
    position: absolute;
    top: auto;
    left: -9999rem;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
