// Colours
// Colours from: https://www.colourlovers.com/palette/623761/Walking_Away
$col-background: #F6F6F6;
$col-text: #333333;
$col-link: #990100;
$col-hover: #B90504;
$col-border: #E8E8E8;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$fonts: 'Libre Franklin', sans-serif;
$font-size-default: 18px;
$line-height-default: 1.5;
