// Colours
// Colours from: https://www.colourlovers.com/palette/623761/Walking_Away
$col-background: #F6F6F6;
$col-text: #333333;
$col-link: #990100;
$col-hover: #B90504;
$col-border: #E8E8E8;

// Fonts
$fonts: 'Fira Sans', sans-serif;
$font-size-default: 18px;
$line-height-default: 1.5;
